.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.background {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(0.5rem);
  z-index: -1;
}

.name {
  font-size: 5rem;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.sub {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -5rem;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

body {
  background-color: black;
  margin: 0;
}

.fwh-slide {
  height: 5vh;
  background: black;
  color: white;
  box-sizing: border-box;
  padding: 5rem;
}

.fwh-slide p {
  margin: 0;
}

.banner {
  background: black;
  color: white;
  padding: 2rem;
}

nav {
  display: flex;
  padding: 1rem;
  margin: 0;
  gap: 1rem;
}

nav a {
  background-color: rgba(0, 0, 0, 0.456);
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0.5rem;
  transition: background-color 0.5s ease;
  font-size: 2rem;
  font-weight: 900;
}

nav a:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

body a:not(nav a) {
  color: rgb(255, 0, 221);
  padding: 0;
  border-radius: 0;
  font-size: 1rem;
  font-weight: normal;
  background: none;
  text-decoration: none;
}

body a:not(nav a):hover {
  background-color: unset;
  color: #ff77e2;
  padding: 0;
  border-radius: 0;
}

.heading {
  background: -webkit-linear-gradient(#ff009d, #ff3ed5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.latest-project {
  height: 60vh;
  background: black;
  color: white;
  box-sizing: border-box;
  padding: 5rem;
  margin-top: 0rem;
}

.latest-project-title {
  display: flex;
  top: 25rem;
  font-size: 2rem;
  margin-top: -5rem;
}

.hackathons {
  height: 60vh;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 5rem;
  margin-top: -20rem;
}

.hackathons-title {
  display: flex;
  top: 50rem;
  font-size: 2rem;
}

.about {
  height: 60vh;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 5rem;
}
