.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

body {
  margin: 0;
  background: black;
}

.fwh-slide {
  height: 5vh;
  background: black;
  color: white;
  box-sizing: border-box;
  padding: 5rem;
}

.fwh-slide p {
  margin: 0;
}

.banner {
  background: black;
  color: white;
  padding: 2rem;
}

nav {
  background: white;
  display: flex;
  padding: 2rem;
  margin: 0;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black
}

a {
  color: rgb(0, 204, 255);
}

.latest-project {
  height: 60vh;
  background: black;
  color: white;
  box-sizing: border-box;
  padding: 5rem;
}

.latest-project-title {
  position: absolute;
  top: 25rem;
  font-size: 2rem;
}